@import 'styles/_mixins.scss';

.newsletter {
  padding: 30px 40px;

  &__wrapper {
    position: relative;

    max-width: 1000px;
    min-height: 400px;
    margin: 0 auto;
    border-radius: 55px;

    background-image: url('https://firebasestorage.googleapis.com/v0/b/whatcanicook-d4cbd.appspot.com/o/images%2Ffood.jpg?alt=media&token=cf0972d2-e8db-4f26-a09c-decb24d4f85b');
    background-position: center;
    background-size: cover;

    overflow: hidden;

    @include mq(large) {
      min-height: 360px;
    }

    & form {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px 0;

      width: 100%;
      min-height: 400px;
      margin: 0;

      background-color: rgba(0, 0, 0, 0.5);

      @include mq(large) {
        min-height: 360px;
      }

      & h1 {
        flex-basis: 100%;

        margin: 0 auto;
        max-width: 800px;
        padding: 0 100px;

        line-height: 40px;
        color: white;
        text-transform: uppercase;

        @include mq(large) {
          font-size: 22px;
        }

        @include mq(medium) {
          padding: 0 60px;

          font-size: 18px;
        }
        @include mq(small) {
          padding: 0 5px;

          font-size: 16px;
        }
      }

      & div {
        margin-bottom: 0;
      }

      & input {
        width: 400px;
        padding-right: 125px;
        border-radius: 30px;

        @include mq(large) {
          width: 360px;
          padding-right: 95px;
        }
        @include mq(small) {
          width: 240px;
        }
      }

      & span {
        text-align: center;
        font-weight: 500;
        font-size: 16px;

        @include mq(small) {
          width: 100%;
          margin-left: 0;
          font-size: 14px;
        }
      }

      & button {
        width: auto;
        margin: 0;
        margin-left: -120px;
        padding: 10px 30px;
        border-radius: 20px;

        font-size: 14px;
        font-weight: 700;

        overflow: hidden;

        @include mq(large) {
          padding: 10px 15px;
          margin-left: -90px;
        }
        @include mq(small) {
          margin-left: -80px;
          padding: 8px 10px;

          font-size: 13px;
        }
      }
    }

    & button + span {
      width: 100%;
    }

    & > div {
      position: absolute;
      bottom: 30px;

      width: 100%;

      color: white;

      @include mq(small) {
        bottom: 20px;
      }

      & a {
        display: none;
      }

      & h3 {
        text-align: center;

        @include mq(large) {
          font-size: 20px;
        }

        @include mq(large) {
          font-size: 16px;
        }
        @include mq(small) {
          padding: 0 20px;

          font-size: 14px;
        }
      }
    }
  }
}
