@import 'styles/_mixins.scss';

.navigation {
  display: flex;

  &__link {
    text-decoration: none;
    color: black;
    font-size: 13px;

    @include mq(small) {
      font-size: 12px;
    }

    &:hover {
      text-decoration: underline;
    }

    &:not(:last-child) {
      position: relative;

      margin-right: 30px;

      @include mq(small) {
        margin-right: 20px;
      }
    }

    &:not(:last-child)::after {
      content: '>';
      position: absolute;
      top: 0;
      left: 100%;

      height: 100%;
      margin-left: 12px;

      pointer-events: none;

      @include mq(small) {
        margin-left: 7px;
      }
    }
  }
}
