@import 'styles/_mixins.scss';

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 450px;
  margin: 30px auto 15px;
  padding: 12px 55px;
  border: none;
  border-radius: 3px;

  font-size: 18px;
  text-transform: uppercase;
  background-color: #db4646;
  color: #fff;

  transition: background-color 0.3s ease-in-out;

  cursor: pointer;

  @include mq(small) {
    width: 300px;
  }

  &:hover {
    background-color: #8d2c2c;
  }

  & span {
    font-size: 22px;
    color: #fff;
  }

  & + span {
    position: static;
  }

  & div {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    margin: 0 auto;

    background-color: #db4646;

    & img {
      margin: 0;
      height: 22px;
    }
  }
}
