@import 'styles/_mixins.scss';

.step {
  display: flex;

  margin-bottom: 10px;

  @include mq(small) {
    flex-direction: column;
    gap: 10px 0;
  }

  &__content {
    flex-grow: 1;

    & h3 {
      font-size: 18px;
    }
  }

  &__image {
    position: relative;

    width: 220px;
    height: 150px;
  }
}
