* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: 'Montserrat', sans-serif;
}

input:focus {
  border-radius: 0;
  outline-style: solid;
  outline-color: blue;
}

input[type='checkbox']:focus {
  outline-style: none;
}
